<div *ngIf="event">

  <div>
    <div><img [src]="event.imageUrl" alt="{{event.name}}"></div>
    <h1>{{event.name}}</h1>
  </div>
  <div>
    <h2>Event info</h2>
    <p>by <strong>{{event.organizationName}}</strong> &lt;<a href="mailto:{{event.organizationEmail}}">{{event.organizationEmail}}</a>&gt;</p>
    <p>{{event.begin}}</p>
    <p>{{event.location}}</p>
  </div>

  <h2>Available tickets</h2>
  <form novalidate [formGroup]="reservationForm" (ngSubmit)="onSubmit(reservationForm)">
    <ul formArrayName="reservation">
      <li *ngFor="let ticketCategory of event.activeCategories;let i=index" [formGroupName]="i">
        FIXME NAME/description(?)
        Sales end {{ticketCategory.expiration}}
        Price {{ticketCategory.price}}
        <input formControlName="ticketCategoryId" [value]="ticketCategory.ticketCategoryId" type="hidden">
        <select formControlName="amount"><option *ngFor="let quantity of toSequenceFromZero(ticketCategory.maxTickets)" [value]="quantity">{{quantity}}</option></select>
      </li>
    </ul>
    <button type="submit">Continue</button>
  </form>

  <h2>Expired tickets</h2>
  <ul>
    <li *ngFor="let ticketCategory of event.expiredCategories">
        {{ticketCategory | json}}
    </li>
  </ul>
</div>