<div *ngIf="event">

  <div>
    <div><img [src]="event.imageUrl" alt="{{event.name}}"></div>
    <h1>{{event.name}}</h1>
  </div>
  <div>
    <h2>Event info</h2>
    <p>by <strong>{{event.organizationName}}</strong> &lt;<a href="mailto:{{event.organizationEmail}}">{{event.organizationEmail}}</a>&gt;</p>
    <p>{{event.begin}}</p>
    <p>{{event.location}}</p>
  </div>

  <h2>Available tickets</h2>
  <ul>
    <li *ngFor="let ticketCategory of event.activeCategories">
      FIXME NAME/description(?)
      Sales end {{ticketCategory.expiration}}
      Price {{ticketCategory.price}} 
      <select><option *ngFor="let quantity of toSequenceFromZero(ticketCategory.maxTickets)" [value]="quantity">{{quantity}}</option></select>
    </li>
  </ul>

  <h2>Expired tickets</h2>
  <ul>
    <li *ngFor="let ticketCategory of event.expiredCategories">
        {{ticketCategory | json}}
    </li>
  </ul>
</div>